<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Property:</strong>
    <%= booking.property_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gcr receipt number:</strong>
    <%= booking.gcr_receipt_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value recorded:</strong>
    <%= booking.value_recorded %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Agent name:</strong>
    <%= booking.agent_name %>
  </p>

</div>
