
      <div id="<%= dom_id property %>">
        <div class="relative">
        <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Account Number:</h3>
            <p class="mt-1 text-sm text-gray-500"><%= property.id %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Owner Name:</h3>
            <p class="mt-1 text-sm text-gray-500"><%= property.owner_name %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Telephone:</h3>
            <p class="mt-1 text-sm text-gray-500"><%= property.telephone %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Rateable value:</h3>
            <p class="mt-1 text-sm text-gray-500"> <%= property.rateable_value %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Location:</h3>
            <p class="mt-1 text-sm text-gray-500"> <%= property.location %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Arrears:</h3>
            <p class="mt-1 text-sm text-gray-500"> <%= property.arrears %></p>
          </div>
          <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Ghanapost address:</h3>
            <p class="mt-1 text-sm text-gray-500"> <%= property.ghanapost_address %></p>
          </div>
           <div class="relative mt-4">
            <h3 class="text-sm font-medium text-gray-900">Landmark:</h3>
            <p class="mt-1 text-sm text-gray-500"> <%= property.landmark %></p>
          </div>
        </div>
      </div>
